.login-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 350px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  color: white;
  text-align: center;
  backdrop-filter: blur(5px);
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
}

.login-card button {
  width: 106%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #ed8516;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #ff6200;
}
