.card-serie {
  width: 200px;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.card-serie:hover {
  transform: scale(1.05);
}

.card-serie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.btn-favoritar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #646464;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  display: block;
}

.btn-favoritar:hover {
  background-color: #ff6200;
}
.lista-serie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
