.header-series {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.header-series {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
}

